// Color Pallete
$boxRed: #F15A49;
$boxOrange: #F86925;
$boxYellow: #FF9E00;
$boxGreen: #35BC7A;
$boxBlue: #1E8BC4;


// TODO: Setup
// TODO: font
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.page-container {
  margin: 10px auto;
  width: 95%;
}

// TODO: Globals

// TODO: Nav

header {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 60%;
  height: 100vh;
}

.box {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  display: flex;
  flex-direction: column;
  height: 33.3333%;
  justify-content: center;
  width: 33.3333%;
  p {
    color: #FFFFFF;
    height: 20px;
    margin-top: 50%;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
  }
}

.box1 {
  background-color: $boxGreen;
  width: 66.6666%;
  h1 {
    color: #FFFFFF;
    font-size: 1.8em;
    margin: 20px 30px;;
    text-transform: uppercase;
  }
  p {
    color: #FFFFFF;
    font-weight: 300;
    margin: 5px 30px;
    opacity: 0.75;
  }
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1rem;
    margin: 10px 30px;
    padding: 10px 0px;
    text-transform: uppercase;
    width: 30%;
  }
}

#resume {
  background-image: url(Assets/download.svg);
  background-position: 20% 40%;
  background-size: 10%;
}
#contact {
  background-image: url(Assets/info.svg);
  background-position: 20% 42%;
  background-size: 8%;
  margin-left: -10px;
}

.box2 {
  background-color: $boxYellow;
  background-image: url(Assets/profile.svg);
}
.box3 {
  background-color: $boxBlue;
  background-image: url(Assets/battery.svg);
}
.box4 {
  background-color: $boxRed;
  background-image: url(Assets/books.svg);
}
.box5 {
  background-color: $boxGreen;
  background-image: url(Assets/blog.svg);
}
.box6 {
  background-color: $boxOrange;
  background-image: url(Assets/share.svg);
}
.box7 {
  background-color: $boxBlue;
  background-image: url(Assets/plane.svg);
}
.box8 {
  background-color: $boxOrange;
  background-image: url(Assets/portfolio.svg);
}

main {
  background-color: black;
  float: right;
  height: 100vh;
  width: 40%;
}

.graphics {
  background-image: url(Images/profile-pic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}


// TODO: Media Queries

// TODO: box 1
// TODO: add h1
// TODO: add copy
// TODO: add buttons
// TODO: add bg buttons
// TODO: style btn

// BUG: box1 and 2 hiegh

// FIXME: position of icons too low
// TODO: photo icons
