// Color Pallete
$boxRed: #F15A49;
$boxOrange: #F86925;
$boxYellow: #FF9E00;
$boxGreen: #35BC7A;
$boxBlue: #1E8BC4;

// Setup
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.page-container {
  display: flex;
  justify-content: center;
}

// Header
header {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 60%;
}

.bubble-container {
  display: none;
}
.profile-container {
  padding: 5px 0 0 25px;
  h1 {
    color: #FFFFFF;
    font-size: 1.8em;
    margin: 40px 0 10px;

    text-transform: uppercase;
  }
  p {
    color: #FFFFFF;
    font-weight: 300;
    margin: 0;
    opacity: 0.75;
  }
}

.button-container {
  margin: 10px 0 0;
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 0px;
    text-transform: uppercase;
    width: 150px;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.box {
  align-items: center;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 200px;
  transition: background-size 0.5s;
  width: 33.3333%;
  p {
    color: #FFFFFF;
    margin-top: 40%;
    text-align: center;
    text-transform: uppercase;
  }
  &:hover {
    background-size: 27%;
  }
}

.box1 {
  background-color: $boxGreen;
  width: 66.6666%;
}

#resume {
  background-position: 20% 40%;
  background-size: 10%;
}
#contact {
  background-position: 20% 42%;
  background-size: 8%;
  margin-left: 10px;
}

.box2 {
  background-color: $boxYellow;
  background-image: url(Assets/profile.svg);
}
.box3 {
  background-color: $boxBlue;
  background-image: url(Assets/battery.svg);
}
.box4 {
  background-color: $boxRed;
  background-image: url(Assets/books.svg);
}
.box5 {
  background-color: $boxGreen;
  background-image: url(Assets/blog.svg);
}
.box6 {
  background-color: $boxOrange;
  background-image: url(Assets/share.svg);
}
.box7 {
  background-color: $boxBlue;
  background-image: url(Assets/plane.svg);
}
.box8 {
  background-color: $boxOrange;
  background-image: url(Assets/portfolio.svg);
}

// Main
main {
  background-color: black;
  height: 100vh;
  width: 40%;
}
.graphics {
  align-items: center;
  background-image: url(Images/profile-pic-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  width: 100%;
}

.arrows-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .arrows {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    border: 5px solid white;
    border-radius: 50%;
    height: 50px;
    margin: 0 20px;
    opacity: 0.4;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
    width: 50px;
    &:hover {
      height: 70px;
      opacity: 0.7;
      width: 70px;
    }
  }
}

.counter-container {
  align-self: flex-end;
  margin-top: 10px;
  .counter {
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    opacity: 0.4;
    width: 12px;
    &:last-child {
      background-color: transparent;
    }
  }
}

#counter1 {
  background-color: white;
}

#back {
  background-image: url(Assets/back.svg);
}
#next {
  background-image: url(Assets/next.svg);
}

// TODO: Media Queries

@media screen and (max-width: 400px) {
  header {
    width: 100%;
  }
  main {
    width: 0%;
  }

  .bubble-profile-pic {
    align-self: center;
    width: 100px;
    height: 100px;
    display: block;
    background-color: black;
    background-image: url(Images/profile-pic-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

  .profile-container {
    width: 60%;
    // background-color: orange;
    display: flex;
    flex-direction: column;
    h1 {
      // background-color: black;
      width: 100%;
      margin: 0 0 10px;
    }
    p {
      display: none;
    }
    button {
      width: 100%;
      margin: 0 0 5px;
      // align-self: flex-end;
    }
  }

  #contact {
    margin: 0;
  }

  .graphics {
    display: none;
  }

  .bubble-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box {
    background-size: 30%;
    height: 20vh;
    p {
      // background-color: black;
    }
  }
  .box1 {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    height: 20vh
  }
  .box2 {
    width: 100%;
  }
  .box3 {
    width: 50%;
  }
  .box4 {
    width: 50%;
  }
  .box5 {
    width: 50%;
  }
  .box6 {
    width: 50%;
  }
  .box7 {
    width: 50%;
  }
  .box8 {
    background-color: $boxYellow;
    background-size: 20%;
    width: 50%;
  }
}

// over 750 vertical
@media screen and (min-height: 750px) and (min-width: 1700px) {
  .box {
    background-size: 30%;
    p {
      font-size: 1.6em;
      margin-top: 50%;
    }
    &:hover {
      background-size: 35%;
    }
  }

  .box1 {
    display: flex;
    align-items: center;
  }

  .profile-container {
    padding: 5px 0 0 25px;
    h1 {
      font-size: 4em;
      margin: 0 0 10px;
    }
    p {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  .button-container {
    button {
      font-size: 1.5rem;
      width: 180px;
    }
  }
}

// under 1200
@media screen and (max-width: 1200px) {
  .box1 {
    display: flex;
    justify-content: center;
  }
}

// over 1780
@media screen and (min-width: 1780px) {
  .profile-container {
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.5em;
    }
  }
}

// TODO: media query long
// TODO: media query height small

// FIXME: minheigh
// FIXME: min wid
// TODO: responsive design
// TODO: README
