body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

.page-container {
  display: flex;
  justify-content: center; }

header {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 60%; }

.bubble-container {
  display: none; }

.profile-container {
  padding: 5px 0 0 25px; }
  .profile-container h1 {
    color: #FFFFFF;
    font-size: 1.8em;
    margin: 40px 0 10px;
    text-transform: uppercase; }
  .profile-container p {
    color: #FFFFFF;
    font-weight: 300;
    margin: 0;
    opacity: 0.75; }

.button-container {
  margin: 10px 0 0; }
  .button-container button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 0px;
    text-transform: uppercase;
    width: 150px; }
    .button-container button:focus {
      outline: none; }
    .button-container button:hover {
      background-color: rgba(255, 255, 255, 0.3); }

.box {
  align-items: center;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 200px;
  transition: background-size 0.5s;
  width: 33.3333%; }
  .box p {
    color: #FFFFFF;
    margin-top: 40%;
    text-align: center;
    text-transform: uppercase; }
  .box:hover {
    background-size: 27%; }

.box1 {
  background-color: #35BC7A;
  width: 66.6666%; }

#resume {
  background-position: 20% 40%;
  background-size: 10%; }

#contact {
  background-position: 20% 42%;
  background-size: 8%;
  margin-left: 10px; }

.box2 {
  background-color: #FF9E00;
  background-image: url(Assets/profile.svg); }

.box3 {
  background-color: #1E8BC4;
  background-image: url(Assets/battery.svg); }

.box4 {
  background-color: #F15A49;
  background-image: url(Assets/books.svg); }

.box5 {
  background-color: #35BC7A;
  background-image: url(Assets/blog.svg); }

.box6 {
  background-color: #F86925;
  background-image: url(Assets/share.svg); }

.box7 {
  background-color: #1E8BC4;
  background-image: url(Assets/plane.svg); }

.box8 {
  background-color: #F86925;
  background-image: url(Assets/portfolio.svg); }

main {
  background-color: black;
  height: 100vh;
  width: 40%; }

.graphics {
  align-items: center;
  background-image: url(Images/profile-pic-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  width: 100%; }

.arrows-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .arrows-container .arrows {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    border: 5px solid white;
    border-radius: 50%;
    height: 50px;
    margin: 0 20px;
    opacity: 0.4;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
    width: 50px; }
    .arrows-container .arrows:hover {
      height: 70px;
      opacity: 0.7;
      width: 70px; }

.counter-container {
  align-self: flex-end;
  margin-top: 10px; }
  .counter-container .counter {
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    opacity: 0.4;
    width: 12px; }
    .counter-container .counter:last-child {
      background-color: transparent; }

#counter1 {
  background-color: white; }

#back {
  background-image: url(Assets/back.svg); }

#next {
  background-image: url(Assets/next.svg); }

@media screen and (max-width: 400px) {
  header {
    width: 100%; }

  main {
    width: 0%; }

  .bubble-profile-pic {
    align-self: center;
    width: 100px;
    height: 100px;
    display: block;
    background-color: black;
    background-image: url(Images/profile-pic-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%; }

  .profile-container {
    width: 60%;
    display: flex;
    flex-direction: column; }
    .profile-container h1 {
      width: 100%;
      margin: 0 0 10px; }
    .profile-container p {
      display: none; }
    .profile-container button {
      width: 100%;
      margin: 0 0 5px; }

  #contact {
    margin: 0; }

  .graphics {
    display: none; }

  .bubble-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center; }

  .box {
    background-size: 30%;
    height: 20vh; }

  .box1 {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    height: 20vh; }

  .box2 {
    width: 100%; }

  .box3 {
    width: 50%; }

  .box4 {
    width: 50%; }

  .box5 {
    width: 50%; }

  .box6 {
    width: 50%; }

  .box7 {
    width: 50%; }

  .box8 {
    background-color: #FF9E00;
    background-size: 20%;
    width: 50%; } }

/*# sourceMappingURL=styles.css.map */
